<ul class="menu">
  <a href="#"><li>Login</li></a>
  <a href="#"><li><i class="fi-shopping-cart"></i> Cart</li></a>
</ul>
<div>
  <hr></hr>
  <h2 class="h6">
    <strong>Tatuajes falsos por artistas reales</strong>
    <small>Enviados con amor, desde Bogota</small>
  </h2>
</div>
<div>
  <hr></hr>
  <div class="input-group">
    <input class="input-group-field small search" type="text" placeholder="Buscar..."></input>
    <div class="input-group-button">
      <input type="submit" class="button secondary small text-uppercase" value="Buscar"></input>
    </div>
  </div>
</div>
